.navbar{
    background-color:#FFFF;
}
.navbar-brand{
    color:black;
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
}
.navbar-brand:hover{
    color: black;
}
.navbar-brand img{
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.navbar li a{
    color: black;
    font-size: 16px;
}
.navbar-nav{
    margin-right: 14%;
}
.search-form{
    margin-right: 5%;
}
.background{
    background-image: url("../images/booky-background.jpg"), linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3));
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 5%;
    overflow-x: hidden;
}
.background p{
    padding-top: 210px;
    padding-left: 300px;
    font-size: 42px;
    color: white;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: normal;
}
.background button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 40%;
    outline: none;
    border: none;
    background-color: #DEDFF0;
    box-shadow: rgba(0, 0, 0, 0.3);
}
.background button:hover{
    background-color: rgba(222, 223, 240, 0.8);
}
