{% extends "base.html" %}
<!-- Content block -->
{% block body %}
<div class="container-fluid flex flex-column" style="margin: 0; padding: 0;">
  <nav class="navbar fixed-top navbar-expand-lg">
    <a class="navbar-brand" href="#">
      <img src="static/images/booky (1).png" alt="logo" />
      BOOKY
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>&nbsp;&nbsp;
        <li class="nav-item">
          <a class="nav-link" href="#">Why Booky</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 search-form">
        <input class="form-control mr-sm-2" type="search" placeholder="Search by title, ISBN" aria-label="Search">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <div class="background">
    <div class="row">
      <div class="col-md-12, col-lg-12, col-xs-12, col-xl-12">
        <p>Making Books Available to Everyone.</p>
        <button>Create an account</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}