{% extends "base.html" %}

<!-- Content block -->
{% block body %}
<div class="container-fluid flex flex-column" style="margin: 0; padding: 0;">
    <nav class="navbar fixed-top navbar-expand-lg">
        <a class="navbar-brand" href="/">
            <img src="static/images/booky (1).png" alt="logo" />
            BOOKY
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>&nbsp;&nbsp;
                <li class="nav-item">
                    <a class="nav-link" href="#">Why Booky</a>
                </li>
            </ul>
            <form action="/query" method="GET" class="form-inline my-2 my-lg-0 search-form">
                <input class="form-control mr-sm-2" type="search" id="search" name="search"
                    placeholder="Search by title, ISBN" aria-label="Search">
                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit" name="search"
                    id="search_button">Search</button>
            </form>
        </div>
    </nav>

    <div class="controls">
        {% if start - 21 >= 0 %}
        <a href="/query?search={{ search }}&start={{ start - 21 }}">
            <span id="prev" class="pl1">Previous</span>
        </a>
        {% endif %}
        <span>Page {{ start }}-{{ count }}</span> {% if data["items"]|length == 20 %}
        <a href="/query?search={{ search }}&start={{ start + 19 }}">
            <span id="next" class="pr1">Next</span>
        </a>
        {% endif %}
    </div>

    <div class="container book-library">
        {% for book in data["items"] %}
        <div class="row">
            <div class="col">
                <a href="{{ book.infoLink }}" target="blank">
                    <div class="card mb-3">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img class="card-img img-fluid" src="{{ book.imageLinks.thumbnail }}"
                                    alt="{{ book.title }} book cover" />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body" style="margin-top: -4%;">
                                    <h3>Title</h3>
                                    <p>{{ book.title }}</p>

                                    <h3>Author(s)</h3>
                                    <p>{{ book.authors }}</p>

                                    <h3>Publisher</h3>
                                    <p>{{ book.publisher }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        {% endfor %}
    </div>

    <div class="footer-controls">
        {% if start - 21 >= 0 %}
        <a href="/query?search={{ search }}&start={{ start - 21 }}">
            <span id="prev" class="pl1">Previous</span>
        </a>
        {% endif %}
        <span>Page {{ start }}-{{ count }}</span> {% if data["items"]|length == 20 %}
        <a href="/query?search={{ search }}&start={{ start + 19 }}">
            <span id="next" class="pr1">Next</span>
        </a>
        {% endif %}
    </div>
    {% endblock %}
</div>